<!DOCTYPE html>
<html lang="en">
	<head th:replace="fragments/template_form_header :: header"></head>
	
	<th:block th:fragment="head">
	   	<link rel="stylesheet" href="../build/css/dataTables.bootstrap.min.css">
		<link rel="stylesheet" href="../build/css/jquery.dataTables.min.css">
	</th:block>
	

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
   		<div th:replace="fragments/template_menu :: menu"></div>
        <!-- top navigation -->

        <!-- /top navigation -->
		
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Validator Configuration</h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
         
			
			<div class="clearfix"></div>
            <div class="row">
            	<div th:replace="fragments/template_validator_form :: validatorForm"></div>

            	<div th:replace="fragments/template_validator_table :: validatorConfList"></div>
            </div>

          </div>



          <div class="row">
          	<div th:replace="fragments/template_validator_items :: validatorConfItems"></div>
          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
		   <footer th:replace="fragments/template_footer :: footer"> </footer>
        <!-- /footer content -->
        
      </div>
    </div>
	<div th:replace="fragments/template_allscripts :: scripts"></div>
    
    <script src="../build/js/main.js"></script>
    <script src="../build/js/validator.js"></script>
    <script src="../build/js/dataTables.bootstrap.min.js" type="text/javascript"></script>
	<script src="../build/js/jquery.dataTables.min.js" type="text/javascript"></script>
    
	
  </body>
</html>
