<div th:fragment="sidebar" id="sidebar-menu"
     class="main_menu_side hidden-print main_menu">
    <div class="menu_section">

        <ul class="nav side-menu">
            <li><a><i class="fa fa-home green"></i> Home <span
                    class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/index">Dashboard</a></li>
                </ul>
            </li>
            <li sec:authorize="hasRole('ADMIN')"><a><i class="fa fa-edit blue"></i> Admin Panel<span
                    class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/usermanagement">User Management</a></li>
                    <li><a href="/adminSftp">SFTP Settings</a></li>
                    <li><a href="/adminEmailSettings">Email Settings</a></li>
                    <li><a href="/adminDatabase">Database Settings</a></li>
                    <li><a href="/host">Hosts</a></li>
                </ul>
            </li>

            <li><a><i class="fa fa-edit red"></i> Data Visualiser <span
                    class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/dsv">CSV Viewer</a></li>
                    <li><a href="/logerrorvisualizer">Log Error Visualizer</a></li>
                    <li><a href="/dataprofiler">Data Profiler</a></li>
                </ul>
            </li>

            <li><a><i class="fa fa-edit green"></i> Extraction <span
                    class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/extractionemailupdate">Email Update</a></li>
                </ul>
            </li>

            <li><a><i class="fa fa-edit blue"></i> DataConnector <span
                    class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/dctablesettings">Table Settings</a></li>
                </ul>
            </li>

            <li><a><i class="fa fa-edit red"></i> Batches <span
                    class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/batch">Add/Edit Batch</a></li>
                    <li><a href="/runbatch">Run Batch</a></li>
                    <li><a href="#" onclick="$('#batches').toggle();">Run Batch</a>
                        <ul class="nav child_menu" id="batches" onload="hide();">
                            <li><a href="/runpbkbatch">PBK</a></li>
                            <li><a href="/runpelitabatch">Pelita</a></li>
                            <li><a href="/runpyycatch">YYC</a></li>
                            <li><a href="/runccobatch">CCO</a></li>
                            <li><a href="/runictzonebatch">ICTZONE</a></li>
                            <li><a href="/runnationwidebatch">Nationwide</a></li>
                            <li><a href="/runmahbbatch">MAHB</a></li>
                        </ul>
                    <li><a href="/allbatchhistory">Batch History</a></li>
                    <li><a href="/emailupdate">Email Updates</a></li>
                </ul>
            </li>

        </ul>
    </div>
</div>